.icon-hamburger::before {
    font-style: normal;
    font-weight: normal;
    content: '\2630';
}
input[type='color'] {
    vertical-align: -10%;
}
textarea {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.2;
    height: 50vh;
}
*::placeholder {
    color: currentcolor;
    opacity: 0.25;
}
